.app{
    font-size : 28.5px;
    background-color : purple;
    text-align : center;
    padding : 15px;

}
.appTitle{
    color : red;
}

.appAuthor{
    color : white;
    margin: 10px 15px 5px;
    font-size: 10.5px;
}

.appDesc{
    color : #282c34;
    font-family: "Times New Roman", Times, serif;
}

.appDate{
    color : gray;
    font-style : italic;
}

.countries{
    padding: 3rem;
    display: grid;
    gap: 2rem;

}

.navbar{
    font-size : 24.5px;
    background-color : #766725;
    text-align : center;
    padding : 0px 10px 0px 10px;
}

@media screen and (min-width : 768px) {
    .countries{
        grid-template-columns : auto auto;
    }
}


@media screen and (min-width : 992px) {
    .countries{
        grid-template-columns : auto auto auto;
    }
}